*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.3s ease-in-out;
}
.log-in:hover {
    background-color: rgb(159, 156, 154);
    border: solid 30px groove rgb(254, 0, 0);
}
.welcome:hover {
    color: rgb(252, 252, 252);
    font-size: 50px;
}
.outline:hover {
    border:solid 5px #03f8c7;
    color:#facccc;
}
.pass:hover {
    color:rgb(250, 1, 1);
}
button:hover {
    background-color: #ddd;
    color: blue;}
.log-in {
    border: solid 30px groove rgb(255, 203, 72);
    padding:20px;
    padding-top: 0px;
    background-color: rgb(0, 0, 0);
    height:500px;
    width:500px;
    position:absolute;
    top:124px;
    left:500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    transition: all 0.3s ease-in-out;
}
.welcome {
    font-size: 48px;
    color:cornflowerblue;
    transition: all 0.3s ease-in-out;
    
}
.outline {
    border:solid 5px antiquewhite;
    border-bottom:2px solid  #fefdfd;
    color:#dddddd;
    font-size: 24px;
    width:400px;
    transition: all 0.3s ease-in-out;
}
.pass {
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    color:rgb(232, 127, 143);
    font-weight: bold;
    margin-top: -30px;
    margin-bottom: -50px;
    transition: all 0.3s ease-in-out;
}
button {
    background-color: #fffefe;
    border:none;
    color: red;
    height:50px;
    width:400px;
    border-radius:7px;
    font-size: 24px;
    font-weight: 550;
    margin-top: -50px;
    transition: all 0.3s ease-in-out;
}
.last {
    display:flex;
    color: rgb(255, 255, 0);
    transition: all 0.3s ease-in-out;
}

