*{
    background-color: black;
} 

.fa-right-to-bracket{
    color: rgb(250, 250, 247);
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
    margin-right: 50px;
    margin-left: 2px;
    margin-top: 90px;
    font-size: 90px;
    display: inline-flexbox;
  }
.top{
background-color:black; 
  /* padding: 10px; */
  border: 5px solid whitesmoke;
  font-size:larger;
  font-weight: 300;
  margin-bottom: 80px;
  
}
.top a,i {
    float: right;
    margin-right: 20px;
    color: whitesmoke;
    text-decoration: none;
  font-size: 30px;
  padding: 0px;
}
.top #ln{
    color: red;
}
a:visited {
    color: rgb(156, 237, 156);
  }
  a:hover {
    background-color: whitesmoke;
    color: hotpink;
  }
  a:active {
    color: rgb(0, 255, 221);
  }
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.course-container {
    font-family: Arial, sans-serif;
    background-color:rgb(0, 0, 0);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
    width: 100%;
    margin-top: 150px;
    margin-left: 350px;
    margin-left: 100px;
    /* flex-direction: column; */
}
.course-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width:1200px ;
}
.course {
    background-color: #1e1e1e;
    padding: 50px;
    flex: 1;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    
}
.course:hover {
    transform: translateY(-10px); 
    box-shadow: 0 30px 50px rgb(34, 0, 255); 
}
.course-icon {
    font-size: 130px;
    margin: 0px;
    width: 100%;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    justify-content: center;
    align-items:center;
    margin-right:120px ;
    background-color:  rgb(95, 95, 93);
     border-radius: 20px;

}
.course-title {
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 90px;
}
.course-duration,
.course-price {
    margin-bottom: 10px;
    margin-top: 60px;
    font-size: larger;
}
.view-details {
    background-color: #ff4c4c;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
}
@media (min-width: 600px) {
    .course-container {
        flex-direction: row; /* Switch to horizontal layout on larger screens */
    }
}
