*{
    background-color: black;
} 

.fa-right-to-bracket{
    color: rgb(250, 250, 247);
}
.top i:hover, .top a:hover {
  color: hotpink; 
  background-color: rgb(207, 238, 31); 
  transform: scale(1.2);
}
button:hover {
  background-color: rgb(108, 218, 218); 
  transform: scale(1.1); 
}
h1:hover {
  text-shadow: 2px 2px 4px #ffffff;
}
#he1 h2:hover {
  text-shadow: 20px 20px 40px #4800f0; 
}
.item h2:hover {
  font-size: 40px;
  color: hotpink; 
}


.top i {
  font-size: 70px;
  transition: transform 0.3s, opacity 0.3s; 
}
.top i:hover {
  transform: scale(1.9) rotate(15deg); 
  opacity: 0.8; 
}

.fa-cloud-arrow-up:hover {
  font-size: 70px;
  transform: scale(1.2) rotate(15deg); 
  background-color: rgb(0, 255, 30); 
}
.fa-database:hover {
  font-size: 70px;
  transform: scale(1.2) rotate(15deg); 
  background-color: rgba(156, 193, 5, 0.3); 
}
.fa-wand-magic-sparkles:hover {
  font-size: 70px;
  transform: scale(1.3) rotate(15deg); 
  background-color: rgba(0, 157, 255, 0.3); 

}
.fa-person-military-pointing:hover {
  font-size: 70px;
  transform: scale(1.3) rotate(15deg); 
  background-color: rgba(255, 0, 0, 0.3); 
}



.top{
background-color:black; 
  padding: 10px;
  border: 5px solid whitesmoke;
  font-size:larger;
  font-weight: 300;
  margin-bottom: 80px;
  
}
.top a,i {
    margin-top: 0;
    float: right;
    margin-right: 20px;
    color: whitesmoke;
    text-decoration: none;
    
  font-size: 50px;
  padding: 0px;
}
.top #ln{
    color: red;
}
a:visited {
    color: rgb(156, 237, 156);
  }
  a:hover {
    background-color: whitesmoke;
    color: hotpink;
  }
  a:active {
    color: rgb(0, 255, 221);
  }
  h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
    margin-right: 50px;
    margin-left: 2px;
    font-size: 90px;
    display: inline-flexbox;
  }
  #he1 h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    font-size: 50px;
    margin-top: 200px;
  }
  .container {
    color: aliceblue;
    display: grid;
    height: 90px;
    grid-template-columns: 0.2fr 1.1fr; 
    grid-template-rows: repeat(4, 3fr); 
    gap: 2px; 
    border: 2px dashed #ccc; 
  }
  .container i{
    justify-content: center;
    align-items: center;
    font-size: 100px;
  }
  .item {
    
    text-align: justify;
    color: aliceblue;
    border: 2px dashed #ccc; 
    padding:20px;
    height: 200px;
  }
  p{
    margin-bottom: 12px;
    font-size: x-large;
    color: gray;
}
.item h2{
    font-size: 20px;
    font-weight: bolder;
}

